@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Secure Your ASP.NET MVC and WebApi Applications</h1>
    <p class="lead">Welcome! This application is the sample application used during the presentation at HDC 2016.  This application is free for you to use.</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Content Security Policy</h2>
        <p>Content security policy allows you to only allow certain sources (JavaScript, Images, etc) to load. It is a good first line of defense against XSS</p>
        <p>@Html.ActionLink("Learn More", "ContentSecurityPolicy", "ConfigurationChanges", new {}, new {@class = "btn btn-default"})</p>
    </div>
    <div class="col-md-4">
        <h2>Anti XSS Encoder</h2>
        <p>The Anti XSS Encoder prevents XSS from reaching the user.  This is another line of defense against XSS</p>
        <p>@Html.ActionLink("Learn More", "AntiXSSEncoder", "ConfigurationChanges", new { }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Cookie Policies</h2>
        <p>Cookie Policies allow you to only allow cookies to be accessed via http requests and through SSL. This is another line of defense against XSS</p>
        <p>@Html.ActionLink("Learn More", "CookiePolicies", "ConfigurationChanges", new {}, new {@class = "btn btn-default"})</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Global Exception Handling</h2>
        <p>It is never a good idea to expose any details about an exception to users.</p>
        <p>@Html.ActionLink("Learn More", "GlobalExceptionHandling", "Filter", new {}, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Action Filters</h2>
        <p>Action filters allow you to write custom business rules to help protect your website</p>
        <p>@Html.ActionLink("Learn More", "ActionFilter", "Filter", new { }, new { @class = "btn btn-default" })</p>
    </div> 
</div>